<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
   <servlet>
      <servlet-name>initPortail</servlet-name>
      <description>Servlet correspondant à la page principale</description>
      <servlet-class>com.increg.salon.servlet.InitPortail</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ident</servlet-name>
      <description>Servlet d'identification</description>
      <servlet-class>com.increg.salon.servlet.Ident</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechCli</servlet-name>
      <description>Recherche de client</description>
      <servlet-class>com.increg.salon.servlet.RechCli</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficCli</servlet-name>
      <description>Fiche client</description>
      <servlet-class>com.increg.salon.servlet.FicCli</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficFact</servlet-name>
      <description>Fiche Facture</description>
      <servlet-class>com.increg.salon.servlet.FicFact</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechPrest</servlet-name>
      <description>Recherche de Prestation</description>
      <servlet-class>com.increg.salon.servlet.RechPrest</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficPrest</servlet-name>
      <description>Fiche Prestation</description>
      <servlet-class>com.increg.salon.servlet.FicPrest</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechDonneeRef</servlet-name>
      <description>Recherche de données de référence</description>
      <servlet-class>com.increg.salon.servlet.RechDonneeRef</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficDonneeRef</servlet-name>
      <description>Fiche données de référence</description>
      <servlet-class>com.increg.salon.servlet.FicDonneeRef</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechArt</servlet-name>
      <description>Recherche d'articles</description>
      <servlet-class>com.increg.salon.servlet.RechArt</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficArt</servlet-name>
      <description>Fiche Article</description>
      <servlet-class>com.increg.salon.servlet.FicArt</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficArt_Mvt</servlet-name>
      <description>Fiche Article vue mouvement</description>
      <servlet-class>com.increg.salon.servlet.FicArt_Mvt</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechFourn</servlet-name>
      <description>Recherche Fournisseur</description>
      <servlet-class>com.increg.salon.servlet.RechFourn</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficFourn</servlet-name>
      <description>Fiche fournisseur</description>
      <servlet-class>com.increg.salon.servlet.FicFourn</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechCollab</servlet-name>
      <description>Recherche collaborateurs</description>
      <servlet-class>com.increg.salon.servlet.RechCollab</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficCollab</servlet-name>
      <description>Fiche collaborateur</description>
      <servlet-class>com.increg.salon.servlet.FicCollab</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>addCli</servlet-name>
      <description>Ajout d'un client en cours</description>
      <servlet-class>com.increg.salon.servlet.AddCli</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficPaiement</servlet-name>
      <description>Fiche Paiement</description>
      <servlet-class>com.increg.salon.servlet.FicPaiement</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficTech</servlet-name>
      <description>Fiche Technique</description>
      <servlet-class>com.increg.salon.servlet.FicTech</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechTypMvt</servlet-name>
      <description>Recherche types de mouvement</description>
      <servlet-class>com.increg.salon.servlet.RechTypMvt</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficTypMvt</servlet-name>
      <description>Fiche types de mouvement</description>
      <servlet-class>com.increg.salon.servlet.FicTypMvt</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechMvt</servlet-name>
      <description>Recherche de mouvements</description>
      <servlet-class>com.increg.salon.servlet.RechMvt</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechTypMca</servlet-name>
      <description>Recherche types de mouvement de caisse</description>
      <servlet-class>com.increg.salon.servlet.RechTypMca</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficTypMca</servlet-name>
      <description>Fiche types de mouvement de caisse</description>
      <servlet-class>com.increg.salon.servlet.FicTypMca</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechMca</servlet-name>
      <description>Recherche de mouvements de caisse</description>
      <servlet-class>com.increg.salon.servlet.RechMca</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficMvtCaisse</servlet-name>
      <description>Fiche mouvement de caisse</description>
      <servlet-class>com.increg.salon.servlet.FicMvtCaisse</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>accueilPointage</servlet-name>
      <description>Accueil et gestion du pointage</description>
      <servlet-class>com.increg.salon.servlet.AccueilPointage</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechPointage</servlet-name>
      <description>Recherche de pointages</description>
      <servlet-class>com.increg.salon.servlet.RechPointage</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficPointage</servlet-name>
      <description>Fiche Pointage</description>
      <servlet-class>com.increg.salon.servlet.FicPointage</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>sauvegarde</servlet-name>
      <description>Fiche Sauvegarde</description>
      <servlet-class>com.increg.salon.servlet.Sauvegarde</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>restauration</servlet-name>
      <description>Fiche Restauration</description>
      <servlet-class>com.increg.salon.servlet.Restauration</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>restaurationAuto</servlet-name>
      <description>Fiche Restauration Automatique</description>
      <servlet-class>com.increg.salon.servlet.RestaurationAuto</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechCA</servlet-name>
      <description>Recherche de chiffre d'affaires</description>
      <servlet-class>com.increg.salon.servlet.RechCA</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechBrouillard</servlet-name>
      <description>Recherche de brouillards</description>
      <servlet-class>com.increg.salon.servlet.RechBrouillard</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechJournal</servlet-name>
      <description>Recherche de Journal</description>
      <servlet-class>com.increg.salon.servlet.RechJournal</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechPresence</servlet-name>
      <description>Recherche de Présences</description>
      <servlet-class>com.increg.salon.servlet.RechPresence</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechRecap</servlet-name>
      <description>Recherche de Recap</description>
      <servlet-class>com.increg.salon.servlet.RechRecap</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>reFact</servlet-name>
      <description>Réédition de factures</description>
      <servlet-class>com.increg.salon.servlet.ReFact</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechParam</servlet-name>
      <description>Recherche de paramètres</description>
      <servlet-class>com.increg.salon.servlet.RechParam</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficParam</servlet-name>
      <description>Fiche Paramètre de l'application</description>
      <servlet-class>com.increg.salon.servlet.FicParam</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechTrAge</servlet-name>
      <description>Recherche de tranches d'age</description>
      <servlet-class>com.increg.salon.servlet.RechTrAge</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficTrAge</servlet-name>
      <description>Fiche tranches d'age</description>
      <servlet-class>com.increg.salon.servlet.FicTrAge</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechFete</servlet-name>
      <description>Recherche de fêtes</description>
      <servlet-class>com.increg.salon.servlet.RechFete</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficFete</servlet-name>
      <description>Fiche fête</description>
      <servlet-class>com.increg.salon.servlet.FicFete</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechTVA</servlet-name>
      <description>Recherche de TVA encaissée</description>
      <servlet-class>com.increg.salon.servlet.RechTVA</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechModRegl</servlet-name>
      <description>Recherche des modes de réglement</description>
      <servlet-class>com.increg.salon.servlet.RechModRegl</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficModRegl</servlet-name>
      <description>Fiche des modes de réglement</description>
      <servlet-class>com.increg.salon.servlet.FicModRegl</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>miseAJour</servlet-name>
      <description>Fiche de mise à jour du logiciel</description>
      <servlet-class>com.increg.salon.servlet.MiseAJour</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechStat</servlet-name>
      <description>Recherche Statistiques</description>
      <servlet-class>com.increg.salon.servlet.RechStat</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficStat</servlet-name>
      <description>Fiche statistiques</description>
      <servlet-class>com.increg.salon.servlet.FicStat</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>imageGraph</servlet-name>
      <description>Image d'un graphe</description>
      <servlet-class>com.increg.salon.servlet.ImageGraph</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechIdent</servlet-name>
      <description>Recherche d'identifications</description>
      <servlet-class>com.increg.salon.servlet.RechIdent</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficIdent</servlet-name>
      <description>Fiche d'identifications</description>
      <servlet-class>com.increg.salon.servlet.FicIdent</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficRenduMonnaie</servlet-name>
      <description>Calcul du rendu de monnaie</description>
      <servlet-class>com.increg.salon.servlet.FicRenduMonnaie</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechFinJournee</servlet-name>
      <description>Recherche Fin de journée</description>
      <servlet-class>com.increg.salon.servlet.RechFinJournee</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficInventaire</servlet-name>
      <description>Fiche d'inventaire</description>
      <servlet-class>com.increg.salon.servlet.FicInventaire</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>ficAchat</servlet-name>
       <description>Fiche achat d'articles</description>
       <servlet-class>com.increg.salon.servlet.FicAchat</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechTypVent</servlet-name>
      <description>Recherche de types de prestations</description>
      <servlet-class>com.increg.salon.servlet.RechTypVent</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficTypVent</servlet-name>
      <description>Fiche de type de prestations</description>
      <servlet-class>com.increg.salon.servlet.FicTypVent</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechDevise</servlet-name>
      <description>Recherche de devises</description>
      <servlet-class>com.increg.salon.servlet.RechDevise</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficDevise</servlet-name>
      <description>Fiche de Devise</description>
      <servlet-class>com.increg.salon.servlet.FicDevise</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficSoc</servlet-name>
      <description>Fiche société</description>
      <servlet-class>com.increg.salon.servlet.FicSoc</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>main</servlet-name>
      <description>Page principale</description>
      <servlet-class>com.increg.salon.servlet.Main</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechCriterePub</servlet-name>
      <description>Recherche de critères de publipostage</description>
      <servlet-class>com.increg.salon.servlet.RechCriterePub</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficCriterePub</servlet-name>
      <description>Fiche Critère de publipostage</description>
      <servlet-class>com.increg.salon.servlet.FicCriterePub</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficPurge</servlet-name>
      <description>Fiche d'épuration des données</description>
      <servlet-class>com.increg.salon.servlet.FicPurge</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>rechRDV</servlet-name>
      <description>Recherche de RDV</description>
      <servlet-class>com.increg.salon.servlet.RechRDV</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficRDV</servlet-name>
      <description>Fiche de RDV</description>
      <servlet-class>com.increg.salon.servlet.FicRDV</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>rechAbonnement</servlet-name>
       <description>Liste des abonnements du client</description>
      <servlet-class>com.increg.salon.servlet.RechAbonnement</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>rechVente</servlet-name>
       <description>Récap des ventes</description>
      <servlet-class>com.increg.salon.servlet.RechVente</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>rechTxTVA</servlet-name>
       <description>Liste des taux de TVA</description>
      <servlet-class>com.increg.salon.servlet.RechTxTVA</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ficTxTVA</servlet-name>
      <description>Fiche de taux de TVA</description>
      <servlet-class>com.increg.salon.servlet.FicTxTVA</servlet-class>
   </servlet>

   <!-- ***** Include Here ******************************************************************************* -->

   <servlet-mapping>
      <servlet-name>initPortail</servlet-name>
      <url-pattern>/initPortail.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ident</servlet-name>
      <url-pattern>/ident.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechCli</servlet-name>
      <url-pattern>/rechCli.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficCli</servlet-name>
      <url-pattern>/ficCli.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficFact</servlet-name>
      <url-pattern>/ficFact.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechPrest</servlet-name>
      <url-pattern>/rechPrest.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficPrest</servlet-name>
      <url-pattern>/ficPrest.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechDonneeRef</servlet-name>
      <url-pattern>/rechDonneeRef.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficDonneeRef</servlet-name>
      <url-pattern>/ficDonneeRef.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechArt</servlet-name>
      <url-pattern>/rechArt.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficArt</servlet-name>
      <url-pattern>/ficArt.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficArt_Mvt</servlet-name>
      <url-pattern>/ficArt_Mvt.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechFourn</servlet-name>
      <url-pattern>/rechFourn.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficFourn</servlet-name>
      <url-pattern>/ficFourn.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechCollab</servlet-name>
      <url-pattern>/rechCollab.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficCollab</servlet-name>
      <url-pattern>/ficCollab.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>addCli</servlet-name>
      <url-pattern>/addCli.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficPaiement</servlet-name>
      <url-pattern>/ficPaiement.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficTech</servlet-name>
      <url-pattern>/ficTech.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechTypMvt</servlet-name>
      <url-pattern>/rechTypMvt.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficTypMvt</servlet-name>
      <url-pattern>/ficTypMvt.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechMvt</servlet-name>
      <url-pattern>/rechMvt.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechTypMca</servlet-name>
      <url-pattern>/rechTypMca.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficTypMca</servlet-name>
      <url-pattern>/ficTypMca.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechMca</servlet-name>
      <url-pattern>/rechMca.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficMvtCaisse</servlet-name>
      <url-pattern>/ficMvtCaisse.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>accueilPointage</servlet-name>
      <url-pattern>/accueilPointage.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechPointage</servlet-name>
      <url-pattern>/rechPointage.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficPointage</servlet-name>
      <url-pattern>/ficPointage.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>sauvegarde</servlet-name>
      <url-pattern>/sauvegarde.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>restauration</servlet-name>
      <url-pattern>/restauration.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>restaurationAuto</servlet-name>
      <url-pattern>/restaurationAuto.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechCA</servlet-name>
      <url-pattern>/rechCA.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechBrouillard</servlet-name>
      <url-pattern>/rechBrouillard.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechJournal</servlet-name>
      <url-pattern>/rechJournal.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechPresence</servlet-name>
      <url-pattern>/rechPresence.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechRecap</servlet-name>
      <url-pattern>/rechRecap.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>reFact</servlet-name>
      <url-pattern>/reFact.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechParam</servlet-name>
      <url-pattern>/rechParam.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficParam</servlet-name>
      <url-pattern>/ficParam.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechTrAge</servlet-name>
      <url-pattern>/rechTrAge.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficTrAge</servlet-name>
      <url-pattern>/ficTrAge.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechFete</servlet-name>
      <url-pattern>/rechFete.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficFete</servlet-name>
      <url-pattern>/ficFete.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechTVA</servlet-name>
      <url-pattern>/rechTVA.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechModRegl</servlet-name>
      <url-pattern>/rechModRegl.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficModRegl</servlet-name>
      <url-pattern>/ficModRegl.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>miseAJour</servlet-name>
      <url-pattern>/miseAJour.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechStat</servlet-name>
      <url-pattern>/rechStat.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficStat</servlet-name>
      <url-pattern>/ficStat.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>imageGraph</servlet-name>
      <url-pattern>/imageGraph.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechIdent</servlet-name>
      <url-pattern>/rechIdent.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficIdent</servlet-name>
      <url-pattern>/ficIdent.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficRenduMonnaie</servlet-name>
      <url-pattern>/ficRenduMonnaie.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechFinJournee</servlet-name>
      <url-pattern>/rechFinJournee.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficInventaire</servlet-name>
      <url-pattern>/ficInventaire.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ficAchat</servlet-name>
      <url-pattern>/ficAchat.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechTypVent</servlet-name>
      <url-pattern>/rechTypVent.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ficTypVent</servlet-name>
       <url-pattern>/ficTypVent.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechDevise</servlet-name>
      <url-pattern>/rechDevise.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ficDevise</servlet-name>
       <url-pattern>/ficDevise.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ficSoc</servlet-name>
       <url-pattern>/ficSoc.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>main</servlet-name>
       <url-pattern>/main.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>rechCriterePub</servlet-name>
      <url-pattern>/rechCriterePub.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ficCriterePub</servlet-name>
       <url-pattern>/ficCriterePub.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ficPurge</servlet-name>
       <url-pattern>/ficPurge.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>rechRDV</servlet-name>
       <url-pattern>/rechRDV.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ficRDV</servlet-name>
       <url-pattern>/ficRDV.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>rechAbonnement</servlet-name>
       <url-pattern>/rechAbonnement.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>rechVente</servlet-name>
       <url-pattern>/rechVente.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>rechTxTVA</servlet-name>
       <url-pattern>/rechTxTVA.srv</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>ficTxTVA</servlet-name>
       <url-pattern>/ficTxTVA.srv</url-pattern>
   </servlet-mapping>

   <!-- ***** Include Here - Part 2 *************************************************************************** -->
   
   <session-config>
      <session-timeout>120</session-timeout>
   </session-config>
   <taglib>
      <taglib-uri>
		http://www.increg.com/salon-taglib
      </taglib-uri>
      <taglib-location>
	 	/WEB-INF/salon-taglib.tld
      </taglib-location>
   </taglib>
   <taglib>
	  <taglib-uri>http://jakarta.apache.org/taglibs/i18n-1.0</taglib-uri>
	  <taglib-location>/WEB-INF/taglibs-i18n.tld</taglib-location>
   </taglib>

</web-app>
